<launch>
  <arg name="mav_name" default="hummingbird"/>
  <arg name="controller_name" default="vel"/>
  <arg name="namespace" default="dcf1"/>

  <group ns="$(arg namespace)">
    <node pkg="cf_cbf" name="drone_node" type="dis_drone_node.py" output="screen">
      <param name="uav_name" value="$(arg namespace)" />
    </node>
  </group> 
</launch>
